## Preprocessing

In [18]:
#!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 27.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.5.18.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.46.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.7)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.2.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.2 kt-legacy-1.0.4

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", 'NAME'], axis=1)

application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9','T13','T12','T12','T2','T25','T14','T29','T15','T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# df['your_column'].value_counts().loc[lambda x : x>1]
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [26]:
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1883].index

Index(['C1000', 'C2000', 'C1200', 'C3000'], dtype='object')

In [27]:
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x<1883].index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
train_data = application_df.drop(columns="IS_SUCCESSFUL")
train_data = pd.get_dummies(train_data)
target_data = application_df["IS_SUCCESSFUL"]
train_data

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [30]:
# Split our preprocessed data into our features and target arrays

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(train_data, target_data )

In [31]:
# Create a StandardScaler instances
import sklearn as skl
scaler1 = skl.preprocessing.StandardScaler()
# scaler2 = StandardScaler()

# Fit the StandardScaler
X_scaler1 = scaler1.fit(X_train)

# Scale the data
X_train_scaled = X_scaler1.transform(X_train)
X_test_scaled = X_scaler1.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# # Create a method that creates a new Sequential model with hyperparameter options
# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()

#     # Allow kerastuner to decide which activation function to use in hidden layers
#     activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
#     # Allow kerastuner to decide number of neurons in first layer
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#         min_value=1,
#         max_value=10,
#         step=2), activation=activation, input_dim=43))

#     # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
#     for i in range(hp.Int('num_layers', 1, 6)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#             min_value=1,
#             max_value=10,
#             step=2),
#             activation=activation))
    
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     # Compile the model
#     nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
#     return nn_model

In [35]:
#  # Import the kerastuner library
# import kerastuner as kt

# tuner = kt.Hyperband(
#     create_model,
#     objective="val_accuracy",
#     max_epochs=10,
#     hyperband_iterations=1)

# New Section

In [43]:
 # Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

INFO:tensorflow:Oracle triggered exit

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=8
hidden_nodes_layer3=9
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 308

 dense_8 (Dense)             (None, 8)                 64

 dense_9 (Dense)             (None, 1)                 9

=================================================================
Total params: 381
Trainable params: 381
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [45]:

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 3ms/step - loss: 0.6169 - accuracy: 0.6619 - val_loss: 0.5912 - val_accuracy: 0.7077
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5662 - accuracy: 0.7249 - val_loss: 0.5783 - val_accuracy: 0.7090
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7274 - val_loss: 0.5752 - val_accuracy: 0.7077
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7292 - val_loss: 0.5731 - val_accuracy: 0.7129
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7325 - val_loss: 0.5719 - val_accuracy: 0.7139
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7333 - val_loss: 0.5705 - val_accuracy: 0.7147
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7326 - val_loss: 0.5696 - val_accuracy: 0.7142
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7333 - val_loss: 0.5690 - val_accuracy: 0.7124
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7328 - val_loss: 0.5718 - val_accuracy: 0.7131
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7337 - val_loss: 0.5680 - val_accuracy: 0.7165
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7338 - val_loss: 0.5674 - val_accuracy: 0.7152
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7330 - val_loss: 0.5681 - val_accuracy: 0.7139
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7348 - val_loss: 0.5697 - val_accuracy: 0.7147
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7341 - val_loss: 0.5670 - val_accuracy: 0.7155
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7339 - val_loss: 0.5664 - val_accuracy: 0.7150
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7355 - val_loss: 0.5659 - val_accuracy: 0.7147
Epoch 17/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5463 - accuracy: 0.7351 - val_loss: 0.5659 - val_accuracy: 0.7165
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7345 - val_loss: 0.5674 - val_accuracy: 0.7152
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7362 - val_loss: 0.5651 - val_accuracy: 0.7155
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7360 - val_loss: 0.5671 - val_accuracy: 0.7142
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7350 - val_loss: 0.5658 - val_accuracy: 0.7162
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7356 - val_loss: 0.5676 - val_accuracy: 0.7162
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7360 - val_loss: 0.5680 - val_accuracy: 0.7175
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7360 - val_loss: 0.5677 - val_accuracy: 0.7168
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7362 - val_loss: 0.5665 - val_accuracy: 0.7155
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7364 - val_loss: 0.5652 - val_accuracy: 0.7152
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7362 - val_loss: 0.5669 - val_accuracy: 0.7150
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7367 - val_loss: 0.5677 - val_accuracy: 0.7160
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7365 - val_loss: 0.5690 - val_accuracy: 0.7165
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7358 - val_loss: 0.5675 - val_accuracy: 0.7175
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7370 - val_loss: 0.5680 - val_accuracy: 0.7168
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7363 - val_loss: 0.5647 - val_accuracy: 0.7162
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7372 - val_loss: 0.5648 - val_accuracy: 0.7178
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7363 - val_loss: 0.5671 - val_accuracy: 0.7155
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7357 - val_loss: 0.5692 - val_accuracy: 0.7155
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7362 - val_loss: 0.5658 - val_accuracy: 0.7178
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7369 - val_loss: 0.5678 - val_accuracy: 0.7178
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7366 - val_loss: 0.5675 - val_accuracy: 0.7170
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7366 - val_loss: 0.5683 - val_accuracy: 0.7173
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7367 - val_loss: 0.5662 - val_accuracy: 0.7168
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7373 - val_loss: 0.5674 - val_accuracy: 0.7175
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7360 - val_loss: 0.5670 - val_accuracy: 0.7152
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7375 - val_loss: 0.5674 - val_accuracy: 0.7155
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7367 - val_loss: 0.5666 - val_accuracy: 0.7147
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7366 - val_loss: 0.5682 - val_accuracy: 0.7150
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7367 - val_loss: 0.5678 - val_accuracy: 0.7157
Epoch 47/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7357 - val_loss: 0.5681 - val_accuracy: 0.7183
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7367 - val_loss: 0.5679 - val_accuracy: 0.7173
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7366 - val_loss: 0.5669 - val_accuracy: 0.7160
Epoch 50/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7362 - val_loss: 0.5673 - val_accuracy: 0.7155
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7374 - val_loss: 0.5696 - val_accuracy: 0.7157
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7363 - val_loss: 0.5667 - val_accuracy: 0.7165
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7377 - val_loss: 0.5666 - val_accuracy: 0.7160
Epoch 54/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7371 - val_loss: 0.5663 - val_accuracy: 0.7142
Epoch 55/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7367 - val_loss: 0.5670 - val_accuracy: 0.7152
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7367 - val_loss: 0.5678 - val_accuracy: 0.7157
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7357 - val_loss: 0.5677 - val_accuracy: 0.7142
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7373 - val_loss: 0.5689 - val_accuracy: 0.7152
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7371 - val_loss: 0.5682 - val_accuracy: 0.7168
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7366 - val_loss: 0.5671 - val_accuracy: 0.7131
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7367 - val_loss: 0.5673 - val_accuracy: 0.7134
Epoch 62/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7360 - val_loss: 0.5663 - val_accuracy: 0.7147
Epoch 63/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7372 - val_loss: 0.5669 - val_accuracy: 0.7181
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7375 - val_loss: 0.5684 - val_accuracy: 0.7165
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7377 - val_loss: 0.5695 - val_accuracy: 0.7155
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7365 - val_loss: 0.5671 - val_accuracy: 0.7144
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7377 - val_loss: 0.5674 - val_accuracy: 0.7142
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7369 - val_loss: 0.5678 - val_accuracy: 0.7150
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7365 - val_loss: 0.5681 - val_accuracy: 0.7188
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7365 - val_loss: 0.5676 - val_accuracy: 0.7157
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7378 - val_loss: 0.5674 - val_accuracy: 0.7152
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7367 - val_loss: 0.5695 - val_accuracy: 0.7147
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7371 - val_loss: 0.5676 - val_accuracy: 0.7165
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7373 - val_loss: 0.5677 - val_accuracy: 0.7152
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7367 - val_loss: 0.5698 - val_accuracy: 0.7157
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7376 - val_loss: 0.5677 - val_accuracy: 0.7165
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7376 - val_loss: 0.5673 - val_accuracy: 0.7175
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7364 - val_loss: 0.5670 - val_accuracy: 0.7150
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7366 - val_loss: 0.5678 - val_accuracy: 0.7152
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7365 - val_loss: 0.5672 - val_accuracy: 0.7129
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7378 - val_loss: 0.5660 - val_accuracy: 0.7152
Epoch 82/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7377 - val_loss: 0.5672 - val_accuracy: 0.7162
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7374 - val_loss: 0.5667 - val_accuracy: 0.7181
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7368 - val_loss: 0.5675 - val_accuracy: 0.7175
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7377 - val_loss: 0.5679 - val_accuracy: 0.7165
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7374 - val_loss: 0.5671 - val_accuracy: 0.7170
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7378 - val_loss: 0.5667 - val_accuracy: 0.7155
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7368 - val_loss: 0.5671 - val_accuracy: 0.7173
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7389 - val_loss: 0.5686 - val_accuracy: 0.7183
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7377 - val_loss: 0.5698 - val_accuracy: 0.7150
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7370 - val_loss: 0.5678 - val_accuracy: 0.7170
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7388 - val_loss: 0.5667 - val_accuracy: 0.7162
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7366 - val_loss: 0.5681 - val_accuracy: 0.7162
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7387 - val_loss: 0.5673 - val_accuracy: 0.7157
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7373 - val_loss: 0.5676 - val_accuracy: 0.7170
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7375 - val_loss: 0.5684 - val_accuracy: 0.7160
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7376 - val_loss: 0.5680 - val_accuracy: 0.7165
Epoch 98/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7367 - val_loss: 0.5668 - val_accuracy: 0.7160
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7367 - val_loss: 0.5660 - val_accuracy: 0.7170
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7379 - val_loss: 0.5686 - val_accuracy: 0.7170

In [46]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5563 - accuracy: 0.7293 - 296ms/epoch - 1ms/step
Loss: 0.5563257932662964, Accuracy: 0.7293294668197632

In [47]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')

Overview of the analysis: Explain the purpose of this analysis.

Data Preprocessing

What variable(s) are considered the target(s) for your model?
- my target is the "IS-SUCCESSFUL" column
What variable(s) are considered to be the features for your model?
- everything else are variables
What variable(s) are neither targets nor features, and should be removed from the input data?
- "name" and "ein" are neither targets or features


Compiling, Training, and Evaluating the Model

How many neurons, layers, and activation functions did you select for your neural network model, and why?
- i chose arbitrary numbers since there is no initial way of knowing the best numbers
Were you able to achieve the target model performance?
- i tried running a script to determine the best parameters, but it did not function correctly
What steps did you take to try and increase model performance?
- what i stated earlier